<div class="col-md-12">
  <h1 id='info'>個人資料</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="well bs-component">
        <% if @user.info %>
          姓　　名：<%= @user.info.name %><br/>
          英文姓名：<%= @user.info.english_name %><br/>
          電　　話：<%= @user.info.phone %><br/>
          地　　址：<%= @user.info.address %><br/>
        <% end %>
      </div>
    </div>
  </div>

  <h1 id='edubg'>學歷</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="well bs-component">
        <% @user.edubgs.each_with_index do |edubg, i| %>
          <%="#{i + 1}. #{edubg.school_name}  #{edubg.major_name}"%>
          <br/>
        <% end %>
      </div>
    </div>
  </div>

  <h1 id='jobbg'>工作經歷</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="well bs-component">
        <% @user.jobbgs.each_with_index do |jobbg, i| %>
          <%= "#{i + 1}." %><br/>
          公司名　：<%= jobbg.company_name %><br/>
          工作內容：<%= jobbg.work_name %><br/>
          工作年資：<%= jobbg.years %> 年<br/>
        <% end %>
      </div>
    </div>
  </div>

  <h1 id='skill'>技能</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="well bs-component">
        <% @user.skills.each do |skill| %>
          <%= "#{skill.name}, "%>
        <% end %>
      </div>
    </div>
  </div>

  <h1 id='myself'>簡單自傳</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="well bs-component">
        <% if @user.myself %>
          <%= @user.myself.context %><br/>
        <% end %>
      </div>
    </div>
  </div>

  <h1 id='colle'>作品集</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="well bs-component">
        <% @user.colles.each do |colle| %>
          <%= "#{colle.name}  #{colle.context}  " %><%= link_to colle.website, colle.website %>
          <br/>
        <% end %>
      </div>
    </div>
  </div>
</div>

