<!DOCTYPE html>
<html>
<head>
  <title>Mycv</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render :partial => 'common/navbar' %>

  <div class="container">
    <div class="row">
      <div class="col-md-3" role="complementary">
        <%= render :partial => 'common/sidebar' %>
      </div>
      <div class="col-md-9" role="main">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
